{% extends 'base.html' %}

{% block content %}

<section id="offers">
    <!-- Under xxx Section -->
    <a href="/itemlist.html">
        <p>UNDER 199</p>
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
    </a>
    <a href="/itemlist.html">
        <p>UNDER 299</p>
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
    </a>
    <a href="/itemlist.html">
        <p>UNDER 399</p>
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
    </a>
    <a href="/itemlist.html">
        <p>UNDER 499</p>
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
        <img src="./img/item.png" alt="item">
    </a>
</section>
<section id="video">
        <!-- displayed video here -->
        <img width="100%" src="img/item/bg.jpg">
</section>

{% endblock %}